typo-correction.txt filter=lfs diff=lfs merge=lfs -text
corrected filter=lfs diff=lfs merge=lfs -text
kddcup.data_10_percent.gz filter=lfs diff=lfs merge=lfs -text
kddcup.data.corrected filter=lfs diff=lfs merge=lfs -text
kddcup.data.gz filter=lfs diff=lfs merge=lfs -text
kddcup.testdata.unlabeled filter=lfs diff=lfs merge=lfs -text
training_attack_types filter=lfs diff=lfs merge=lfs -text
corrected.gz filter=lfs diff=lfs merge=lfs -text
kddcup.data_10_percent filter=lfs diff=lfs merge=lfs -text
kddcup.testdata.unlabeled.gz filter=lfs diff=lfs merge=lfs -text
kddcup.data_10_percent_corrected filter=lfs diff=lfs merge=lfs -text
kddcup.names filter=lfs diff=lfs merge=lfs -text
kddcup.newtestdata_10_percent_unlabeled filter=lfs diff=lfs merge=lfs -text
kddcup.newtestdata_10_percent_unlabeled.gz filter=lfs diff=lfs merge=lfs -text
kddcup.testdata.unlabeled_10_percent filter=lfs diff=lfs merge=lfs -text
kddcup.data filter=lfs diff=lfs merge=lfs -text
kddcup.testdata.unlabeled_10_percent.gz filter=lfs diff=lfs merge=lfs -text
